{{ partial "header" . }}

{{ $data := index .Site.Data.heath .File.ContentBaseName }}
<main>
  TODO Navigation
  <h1>Book {{ $data.num }}</h1>

  {{ with $data.definitions }}
    <h2>Definitions</h2>
    {{ range $i, $v := . }}
        <h3 id="{{ $v.id }}">Definition {{ add $i 1 }}</h3>
        {{ $v.text | safeHTML }}
    {{ end }}
  {{ end }}

  {{ with $data.postulates }}
    <h2>Postulates</h2>
    {{ range $i, $v := . }}
        <h3 id="{{ $v.id }}">Postulate {{ add $i 1 }}</h3>
        {{ $v.text | safeHTML }}
    {{ end }}
  {{ end }}

  {{ with $data.common_notions }}
    <h2>Common Notions</h2>
    {{ range $i, $v := . }}
        <h3 id="{{ $v.id }}">Common Notion {{ add $i 1 }}</h3>
        {{ $v.text | safeHTML }}
    {{ end }}
  {{ end }}

  {{ with $data.propositions }}
    <h2>Propositions</h2>
    {{ range $i, $v := . }}
        <h3 id="{{ $v.id }}">Proposition {{ add $i 1 }}</h3>
        {{ $v.claim | safeHTML }}
    {{ end }}
  {{ end }}
</main>

{{ partial "footer" . }}
