html {
  height: 100%;
}

body {
  margin: 15px 30px;
}

section.proposition {
  margin-bottom: 30px
}
section.claim {
  font-style: italic;
}
section.qed {
  font-size: 13px;
  font-weight: bold;
  text-align: right;
}

p, ol {
  line-height: 1.4;
}
li {
  margin: 5px auto;
}

a.anchor {
  text-decoration: none;
  margin-right: 5px;
}

header, footer {
  text-align: center;
}

main {
  margin: 20px 0;
  /*max-width: 1000px;
  margin: auto;*/
}

img {
  max-width: 100%;
}
