html, body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Optima,Candara,Calibri,Segoe,Segoe UI
}
main {
  margin: 0 40px;
  flex: 1 0 auto;
}
header, footer {
  text-align: center;
  flex-shrink: 0;
}
header {
  margin-top: 20px;
}
footer {
  margin-bottom: 20px;
}
img {
  max-width: 100%;
}

h1 {
  text-align: center;
}
p, ol, ul {
  line-height: 1.4;
}

section.proposition {
  margin-bottom: 30px
}
section.theorem {
  font-style: italic;
}
section.proof {
  margin-left: 20px;
}
section.qed {
  font-size: 13px;
  font-weight: bold;
  text-align: right;
}
section a.anchor {
  text-decoration: none;
  margin-right: 5px;
}

// TODO Explore white on black
//body {
//  color: white;
//  background-color: black;
//}
//a {
//  color: gray;
//}
