html {
  height: 100%;
}

body {
  margin: 15px 30px;
}

p, ol {
  line-height: 1.4;
}

li {
  margin: 5px auto;
}

h1, h2, h3, h4, h5, h6 {
}

header, footer {
  text-align: center;
}

main {
  margin: 20px 0;
  /*max-width: 1000px;
  margin: auto;*/
}

img {
  max-width: 100%;
}
