{{ partial "header" . }}

<main class="books-proposition {{ partial "main-class" . | chomp}}">
  <h1>{{ .Title }}</h1>

  {{/* TODO This splitting of the theorem from the proof it inject the figure is lame */}}
  {{ with index .Params.sections 0 }}
  {{ partial "section" (dict "section" . "depth" 2) }}
  {{ end }}

  <figure>
  {{/* QQQ Switch to class so that these can be partial-ized and used in more contexts? */}}
  {{ $fig := print "static" .RelPermalink "figure.svg" }}
  {{ if fileExists $fig }}
    <object id="figure-svg" type="image/svg+xml" data="figure.svg"></object>
  {{ else }}
    <img id="no-figure" src="/placeholder-figure.svg"></img>
    <figcaption>Figure not yet implemented</figcaption>
  {{ end }}
  </figure>

  {{ range after 1 .Params.sections }}
  {{ partial "section" (dict "section" . "depth" 2) }}
  {{ end }}

</main>
<script type="text/javascript" src="/figure.js"></script>

<footer class="books-proposition">
  <nav>
    {{ if .Params.prev }}
    <a class="prev-prop" href="{{ .Params.prev.url }}">{{ .Params.prev.text }}</a>
    {{ else }}
    <span>TODO: Current Book</span>
    {{ end }}
    {{ if .Params.next }}
    <a class="next-prop" href="{{ .Params.next.url }}">{{ .Params.next.text }}</a>
    {{ else }}
    <span>TODO: Next Book</span>
    {{ end }}
  </nav>
  {{ partial "copyright" . }}
</footer>
</body>
</html>
